# ignore everything except specific files/folders
/*
!.gitignore
!/.config/
/.config/*
!README.md
!configuration.nix
!/.config/home-manager/
!/.config/nvim/
!/.config/hypr/
!/.config/kitty/
!/.config/dunst/
!/.config/scripts
