# ignore everything except specific files/folders
/*
!.gitignore
!/.config/
/.config/*
!README.md
!.zshrc
!.gitconfig
!/.config/nvim/
!/.config/kitty/
!/.config/hypr/
!/.config/dunst/
!/.config/waybar/
!/.config/scripts/
!/.config/nix/

