# Ignore everything:
/*
!.gitignore

# Allow neovim config:
!nvim
nvim/plugin/packer_compiled.lua
!good-words.txt

# Allow fish config:
!fish
fish/*
!fish/config.fish

# Allow oh my fish:
!omf
omf/*
!omf/theme
!omf/bundle

# Ranger config
!ranger
ranger/*
!ranger/rc.conf
